# Web Server
gunicorn

# HTTP & Asynchronous libraries
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
anyio==4.7.0
httpcore==1.0.7
httpx==0.28.1

# Flask
Flask==3.1.0

# Security & Encryption
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
itsdangerous==2.2.0

# Data processing
arrow==1.3.0
pandas==2.2.3
numpy==2.2.1

# Data visualization
matplotlib==3.10.0
seaborn==0.13.2

# Miscellaneous utilities
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comm==0.2.2
decorator==5.1.1
Jinja2==3.1.5
jsonschema==4.23.0
MarkupSafe==3.0.2
requests==2.32.3
setuptools==75.6.0
six==1.16.0
Werkzeug==3.1.3

# Authentication & Security
pycparser==2.22
PyYAML==6.0.2

# Python tools for Jupyter and development
ipykernel==6.29.5
ipython==8.28.0
jupyter==1.1.1
jupyterlab==4.3.4
notebook==7.3.2
