<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Feedback Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body class="bg-gray-900 font-sans p-8">

  <!-- Header Section -->
  <div class="flex justify-between items-center">
    <a href="{{ url_for('admin_dashboard') }}" class="inline-flex items-center bg-yellow-500 text-white px-6 py-3 rounded-lg hover:bg-yellow-600 shadow-md mb-4 sm:mb-0">
      <i class="ph ph-house mr-2"></i> Dashboard
    </a>
  </div>
  <div class="flex items-center justify-center text-center">
    <h1 class="text-3xl sm:text-4xl mt-8 mb-8 font-bold text-white">Feedback Details - {{ feedback_date }}</h1>
  </div>

  {% if feedback_data %}
  <div class="w-full overflow-x-auto rounded-lg">
    <table class="min-w-full bg-gray-700 shadow-md rounded-lg">
      <thead>
        <tr class="bg-yellow-400 hover:bg-yellow-500">
          <th class="py-3 px-5 border-b text-yellow-900">Student ID</th>
          <th class="py-3 px-5 border-b text-yellow-900">Average Rating</th>
          <th class="py-3 px-5 border-b text-yellow-900">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in feedback_data %}
          <tr class="hover:bg-gray-800 transition">
            <td class="py-3 px-5 border-b text-white">{{ feedback[0] }}</td>
            <td class="py-3 px-5 border-b text-white">{{ feedback[1] }}</td>
            <td class="py-3 px-5 border-b text-white">
              <a href="{{ url_for('student_feedback', s_id = feedback[0], feedback_date = feedback_date, meal = meal) }}" class="text-blue-500 hover:underline">View Full Feedback</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% else %}
    <p class="text-white text-lg mt-6">No feedback data available for this date.</p>
  {% endif %}
</div>
  <!-- Back to Feedback Summary Button -->
  <a href="{{ url_for('feedback_summary') }}" class="mt-8 inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 shadow-md">Back to Summary</a>
</body>
</html>
